.logo{
    margin-left: 70px;
    font-weight: normal;
    font-size:  7px;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
    line-height: 8px;
}

.navbarMarginRight{
    margin-right: 70px;
}

.navbarShadow{
    box-shadow: 0 5px 10px 0 rgba(57, 70, 78, 0.2);
}

.classicContainer{
    background-color: white;
    box-shadow: 0 0 25px rgba(57, 70, 78, 0.2);
    padding: 50px;
    border-radius: 10px;
    margin: 50px auto 100px auto;
    font-family: 'Lato', sans-serif;
}

.error{
    color: red;
    font-style: italic;
}

.loginRegisterContainer{
    background-color: white;
    box-shadow: 0 0 25px rgba(57, 70, 78, 0.2);
    padding: 50px;
    border-radius: 10px;
    margin: 50px auto 100px auto;
    font-family: 'Lato', sans-serif;
    width: 33%;
}

.text-muted {
    font-style: italic;
}

.goBack{
    text-align: right;
    width: 100%;
    font-style: italic;
    margin-top: 10px;
    color: grey;
    cursor: pointer
}

.goBack:hover {
    color: royalblue;
}


.classicCleanRight{
    text-align: center;
    float: right;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.classicClean{
    text-align: center;
    margin: auto;
    padding: 5px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.classicContainerHello{
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 25px rgba(57, 70, 78, 0.2);
    padding: 50px;
    border-radius: 10px;
    margin: 70px !important;
}

.classicContainerHalf{
    background-color: white;
    box-shadow: 0 0 25px rgba(57, 70, 78, 0.2);
    padding: 50px;
    border-radius: 10px;
    margin: auto;
    min-width: 35%;
}

.classicTitle{
    text-align: center;
    margin: auto;
    padding: 10px ;
    font-weight: normal;
    font-size:  40px;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
    line-height: 55px;
}

.classicTitleBig{
    text-align: center;
    margin: auto;
    padding: 10px;
    font-weight: normal;
    font-size:  55px;
    font-style: italic;
    font-family: 'DM Serif Display', serif;
    line-height: 30px;
}

.classicEmpty{
    padding: 30px;
}

.classicBoldText{
    text-align: center;
    margin: auto;
    padding: 10px;
    font-size: medium;
    font-weight: bold;
    font-family: 'Lato', sans-serif;
}

.classicText{
    text-align: center;
    margin: auto;
    padding: 15px;
    font-size: medium;
    font-weight: normal;
    font-family: 'Lato', sans-serif;
}

.fullPicture {
    background: url('https://source.unsplash.com/mIgHlXVTSRM/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.helloImg{
    width: 50%;
    background: scroll center url('https://source.unsplash.com/mIgHlXVTSRM/1200x600');
    background-size: cover;
}
.fullPicture2 {
    background: url('https://source.unsplash.com/3bAJYaK37yE/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}
.helloImg2{
    width: 50%;
    background: scroll center url('https://source.unsplash.com/3bAJYaK37yE/1200x1200');
    background-size: cover;
}
.fullPicture3 {
    background: url('https://source.unsplash.com/-E2nk5pNJ1g/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.helloImg3{
    width: 50%;
    background: scroll center url('https://source.unsplash.com/-E2nk5pNJ1g/1200x600');
    background-size: cover;
}
.fullPicture4 {
    background: url('https://source.unsplash.com/M2T1j-6Fn8w/1920x1080') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

.greyBG {
    background: #fbfbfb;
}

.classicHalf{
    width: 50%;
}

.classicRectangle{
    width: 100%;
    min-height: 200px;
}

.classicCleanWithoutMinHeight{
    width: 100%;
}

.customFooter {
    text-align: center;
    padding: 15px;
    color: grey;
    font-size: 12px;
    position: fixed;
    height: 50px;
    bottom: 0;
    width: 100%;
    background-color: #212121;
}

/**/