<%@ taglib prefix="c" uri="http://java.sun.com/jsp/jstl/core" %>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<style>
    <%@include file="../../../resources/css/style.css" %>
</style>
<%--BOOTSTRAP--%>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<%----%>
<link href="https://fonts.googleapis.com/css?family=DM+Serif+Display|Lato&display=swap" rel="stylesheet">

<%--NAVBAR--%>
<nav class="navbar navbar-expand-lg navbar-light bg-light navbarShadow" style="color:white; display: inherit;">
    <a class="navbar-brand logo" href="../">Wedding Website</a>
    <div class="form-inline" style="float: right;">
        <div class="collapse navbar-collapse navbarMarginRight" id="navbarSupportedContent">
            <div class="navbar-nav mr-auto ">
                <div class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                       data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <div>
                            <c:out value="${organizer.organizerName}"/>
                            <c:out value="${guest.guestName}"/>
                            - the
                            <c:out value="${organizer['class'].simpleName}"/>
                            <c:out value="${guest['class'].simpleName}"/>
                            &nbsp;
                        </div>
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">

                        <c:if test="${not empty organizer.id}">
                            <a class="dropdown-item" href="/organizer/addWedding">Add New Wedding</a>
                        </c:if>
                        <c:if test="${not empty organizer.id}">
                            <a class="dropdown-item" href="/organizer/weddingList">Your Weddind List</a>
                        </c:if>

                        <a class="dropdown-item" href="/home/fullWeddingList">All Weddings List</a>

                        <div class="dropdown-divider"></div>
                        <c:choose>
                            <c:when test="${empty email}">
                                <a class="dropdown-item" href="/login/login">LOGIN</a>
                            </c:when>
                            <c:otherwise>
                                <a class="dropdown-item" href="/login/logout">LOGOUT</a>
                            </c:otherwise>
                        </c:choose>

                    </div
                </div>
            </div>
        </div>
    </div>
</nav>